<!DOCTYPE html >
<html lang="en"   xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{share/index}"
      xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--引用主模板-->
<div layout:fragment="content" id="information">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
             <br>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>

            <li>
                <a href="journal">
                    <i class="icon-basket"></i>
                    <span class="title">期刊</span>
                    <span class="arrow"></span>
                </a>
            </li>

            <li>
                <a href="manager">
                    <i class="icon-basket"></i>
                    <span class="title">人员</span>
                    <span class="arrow "></span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>

    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:873px">
            <div layout:fragment="informationFra"></div>
        </div>
    </div>

    <script src="assets/admin/pages/scripts/index.js" type="text/javascript"></script>
</div>


</body>
</html>