<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="row">
    <div class="col-md-12">
        <!--稿件信息模态框表-->
        <div class="margin-top-10 margin-bottom-10 clearfix">
            <table class="table table-bordered table-striped">
                <tbody style="text-align: center">
                <tr>
                    <td style="padding: 5px;width: 90px;">
                        作者名称
                    </td>
                    <td>
                        绑定
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;">
                        标题
                    </td>
                    <td>
                        绑定
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;">
                        关键字
                    </td>
                    <td>
                        绑定
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px;">
                        摘要
                    </td>
                    <td>
                        绑定
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>
</body>
</html>