<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{generalPage/information}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div layout:fragment="informationFra" id="journal">
    <!--表格信息-->

    <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp bold uppercase">期刊信息</span>
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse" data-original-title="" title="">
                                </a>
                                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="reload" data-original-title="" title="">
                                </a>
                                <a href="javascript:;" class="remove" data-original-title="" title="">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <div id="sample_editable_1_wrapper" class="dataTables_wrapper no-footer">

                                <div class="table-scrollable"><table class="table table-striped table-hover table-bordered dataTable no-footer" id="sample_editable_1" role="grid" aria-describedby="sample_editable_1_info" style="width: 1098px;">
                                <thead>
                                <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
									 Username
								: activate to sort column ascending" style="width: 186.01px;" aria-sort="ascending">
                                    期刊名称
                                </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
									 ISBN
								: activate to sort column ascending" style="width: 237.01px;">
                                    ISBN
                                </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
									 secretary
								: activate to sort column ascending" style="width: 129.01px;">
                                    期刊秘书
                                </th><th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
									 maineditor
								: activate to sort column ascending" style="width: 161.01px;">
                                    主编
                                </th></tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="even">
                                    <td class="sorting_1">
                                        gist124
                                    </td>
                                    <td>
                                        Nick Roberts
                                    </td>
                                    <td>
                                       <button class="btn btn-sm default"> <i class="fa fa-user">详细信息</i> </button>
                                    </td>
                                    <td class="center">
                                       <button class="btn btn-sm purple"> <i class="fa fa-user">详细信息</i></button>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        goldweb
                                    </td>
                                    <td>
                                        Sergio Jackson
                                    </td>
                                    <td>
                                        <button class="btn btn-sm default"> <i class="fa fa-user">详细信息</i> </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-sm purple"> <i class="fa fa-user">详细信息</i></button>
                                    </td>
                                </tr>
                                <tr role="row" class="even">
                                    <td class="sorting_1">
                                        lisa
                                    </td>
                                    <td>
                                        Lisa Wong
                                    </td>
                                    <td>
                                        <button class="btn btn-sm default"> <i class="fa fa-user">详细信息</i> </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-sm purple"> <i class="fa fa-user">详细信息</i></button>
                                    </td>
                                </tr>
                                <tr role="row" class="odd">
                                    <td class="sorting_1">
                                        nick12
                                    </td>
                                    <td>
                                        Nick Roberts
                                    </td>
                                    <td>
                                        <button class="btn btn-sm default"> <i class="fa fa-user">详细信息</i> </button>
                                    </td>
                                    <td class="center">
                                        <button class="btn btn-sm purple"> <i class="fa fa-user">详细信息</i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table></div><div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_editable_1_info" role="status" aria-live="polite">Showing 1 to 5 of 6 entries</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="sample_editable_1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="sample_editable_1" tabindex="0" id="sample_editable_1_previous"><a href="#"><i class="fa fa-angle-left"></i></a></li><li class="paginate_button active" aria-controls="sample_editable_1" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="sample_editable_1" tabindex="0"><a href="#">2</a></li><li class="paginate_button next" aria-controls="sample_editable_1" tabindex="0" id="sample_editable_1_next"><a href="#"><i class="fa fa-angle-right"></i></a></li></ul></div></div></div></div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

    <script src="assets/admin/pages/scripts/table-editable.js"></script>
    <script src="assets/admin/pages/scripts/table-advanced.js"></script>
    <script type="text/javascript" src="assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>

</div>


</body>
</html>