<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--审稿人填写审稿意见-->
</head>
<body>

    <div class="col-md-12">
        <!-- BEGIN ALERTS PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">专家审稿单</span>
                    <span class="caption-helper">...</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="reload" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="remove" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">

                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">

                        <tbody>
                        <tr>
                            <td>
                                <a href="javascript:;">
                                   是否有充足的实验或分析支持文章的结论 </a>
                            </td>
                            <td class="hidden-xs">
                                <label>
                                    <input type="radio" name="11" value="一般"> 一般
                                </label>
                                <label>
                                    <input type="radio" name="11" value="差"> 差
                                </label>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:;">
                                   参考文献 </a>
                            </td>
                            <td class="hidden-xs">
                                <label>
                                    <input type="radio" name="2" value="引用准确完整">引用准确完整
                                </label>
                                <label>
                                    <input type="radio" name="2" value="缺乏重要文献"> 缺乏重要文献
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:;">
                                    有无学术道德问题 </a>
                            </td>
                            <td class="hidden-xs">
                                <label>
                                    <input type="radio" name="3" value="有"> 有
                                </label>
                                <label>
                                    <input type="radio" name="3" value="无"> 无
                                </label>
                                <label>  其他
                                <input type="text" name="3">
                            </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="javascript:;">
                                   总体评价 </a>
                            </td>
                            <td class="hidden-xs">
                                <label>
                                    <input type="radio" name="4" value="特优"> 特优
                                </label>
                                <label>
                                    <input type="radio" name="4" value="优"> 优
                                </label>
                                <label>
                                    <input type="radio" name="4" value="良"> 良
                                </label>
                                <label>
                                    <input type="radio" name="4" value="一般"> 一般
                                </label>
                                <label>
                                    <input type="radio" name="4" value="差"> 差
                                </label>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <a href="javascript:;">
                                    综合意见 </a>
                            </td>
                            <td class="hidden-xs">
                                <label>
                                    <input type="radio" name="5" value="发表"> 发表
                                </label>
                                <label>
                                    <input type="radio" name="5" value="修改后发表"> 修改后发表
                                </label>
                                <label>
                                    <input type="radio" name="5" value="修改后再审"> 修改后再审
                                </label>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END ALERTS PORTLET-->
    </div>

    <div class="col-md-12">
    <!-- BEGIN ALERTS PORTLET-->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">具体评审意见</span>
                <span class="caption-helper">尽可能详细，有助于主编对该稿件作出适当处理(必须)</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                </a>
                <a href="javascript:;" class="reload" data-original-title="" title="">
                </a>
                <a href="javascript:;" class="remove" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">

            <div class="col-md-9">
                <div class="md-editor active" id="1581773913992">


                    <textarea name="markdown" data-provide="markdown" rows="10" data-error-container="#editor_error" class="md-input" style="resize: none;">

                    </textarea>
                    <div class="md-fullscreen-controls">
                        <a href="#" class="exit-fullscreen" title="Exit fullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a>
                    </div>
                </div>
                <div id="editor_erro">
                </div>
            </div>

        </div>
    </div>
    <!-- END ALERTS PORTLET-->
</div>

    <div class="col-md-12">
        <!-- BEGIN ALERTS PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">给作者具体意见</span>
                    <span class="caption-helper">以下意见作者可以看到，请说明文章的创新性、文章的修改要求等</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="reload" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="remove" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-9">
                    <div class="md-editor active" id="text2">


                    <textarea name="markdown" data-provide="markdown" rows="10" data-error-container="#editor_error" class="md-input" style="resize: none;">

                    </textarea>
                        <div class="md-fullscreen-controls">
                            <a href="#" class="exit-fullscreen" title="Exit fullscreen"><span class="glyphicon glyphicon-fullscreen"></span></a>
                        </div>
                    </div>
                    <div id="editor_error">
                    </div>
                </div>
            </div>
        </div>

        <!-- END ALERTS PORTLET-->
    </div>


    <div class="file-box">
        <form action="wavedata" method="post" enctype="multipart/form-data">
            <input type='text' name='textfield' id='textfield3' class='txt' style="height: 30px;margin-top: 10px" />
            <input type='button' class='btnD' style="float:right;width: 150px;height: 30px;margin-top: 10px"  value='上传审改稿...' />
            <input type="file" name="fileField" class="file" id="fileField3" size="28" onchange="document.getElementById('textfield3').value=this.value" />
        </form>
    </div>

    <div class="file-box">
        <form action="wavedata" method="post" enctype="multipart/form-data">
        <input type='text' name='textfield' id='textfield' class='txt' style="height: 30px;margin-top: 5px" />
        <input type='button' class='btnD' style="float:right;width: 150px;height: 30px;margin-top: 5px"  value='上传审改稿附件...' />
        <input type="file" name="fileField" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" />
        </form>
    </div>


</body>
</html>